/* Styles spécifiques pour la page Équipe de rédaction */

/* Correction du conflit Tailwind / Menu */
.navigation-principale .lien-admin a {
    color: aliceblue !important;
}

/* Définition de la couleur bleue pour la bulle (non présente dans le CSS de base) */
.bulle-icone.bleu {
    background-color: #0066ff;
}
.bulle-icone-bordure.bleu {
    background-color: #0044aa;
}

/* Restaurer les styles de la bulle impactés par Tailwind */
.bulle .txt-grand {
    font-size: 4.375rem !important;
    line-height: normal !important;
}
.bulle .txt-petit {
    font-size: 3.125rem !important;
    line-height: normal !important;
}
.bulle .titre {
    width: 50.78125% !important;
}
.bulle .txt-grand span,
.bulle .txt-petit span {
    display: inline-block !important;
    padding: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

/* Correction des animations de navigation cassées par Tailwind */
.navigation-principale a {
    padding-top: 2.25rem !important;
    display: block !important;
    position: relative !important;
}

.navigation-principale a::after {
    content: "" !important;
    position: absolute !important;
    border-top: 3px solid transparent !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: scaleX(0) !important;
    transition: transform 200ms ease-in !important;
    display: block !important;
}

.navigation-principale .active a::after {
    border-top-color: var(--active-page-color) !important;
    transform: scaleX(1) !important;
}

.navigation-principale li:not(:where(.lien-admin, .active)) a:hover::after {
    border-top-color: var(--active-page-color) !important;
    transform: scaleX(0.8) !important;
}

.navigation-principale li:not(.lien-admin) a:hover {
    color: var(--active-page-color) !important;
}

.navigation-principale .active a {
    color: var(--active-page-color) !important;
}
