/* Styles spécifiques pour la page Équipe de rédaction */

/* Correction du conflit Tailwind / Menu */
.navigation-principale .lien-admin a {
    color: aliceblue !important;
}

/* Définition de la couleur bleue pour la bulle (non présente dans le CSS de base) */
.bulle-icone.bleu {
    background-color: #0066ff;
}
.bulle-icone-bordure.bleu {
    background-color: #0044aa;
}

/* Restaurer les styles de la bulle impactés par Tailwind */
.bulle .txt-grand {
    font-size: 4.375rem !important;
    line-height: normal !important;
}
.bulle .txt-petit {
    font-size: 3.125rem !important;
    line-height: normal !important;
}
.bulle .titre {
    width: 50.78125% !important;
}
.bulle .txt-grand span,
.bulle .txt-petit span {
    display: inline-block !important;
    padding: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}
